<div class="flex align-items-center justify-content-end bg-cyan-100">
    <a pButton pRipple label="Crear Personas" icon="pi pi-user-plus" class="bg-cyan-600"
        [routerLink]="['/addpersonas']"></a>
</div>
<div>
    <p-toast></p-toast>
</div>
<p-table [value]="personas">
    <ng-template pTemplate="header">
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Ciudad</th>
            <th>Tipo De Personas</th>
	    <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-personas>
        <tr>
            <td>{{ personas.dni }}</td>
            <td>{{ personas.nombre }}</td>
            <td>{{ personas.apellidos }}</td>
            <td>{{ personas.direccion }}</td>
            <td>{{ personas.telefono }}</td>
            <td>{{ personas.ciudad }}</td>
            <td>{{ personas.tipoDePersonas }}</td>
            <td>
                <button pButton pRipple icon="pi pi-print" class="bg-cyan-600 mr-1" (click)="imprimir(personas.id)"></button>
                <a pButton pRipple icon="pi pi-sync" class="bg-cyan-600 mr-1" [routerLink]="['/personas/edit', personas.id]"></a>
                <button type="button" pButton pRipple icon="pi pi-eraser" class="bg-cyan-600 mr-1" (click)="eliminar(personas.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
